<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DAILY JOURNAL</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="nav navbar-nav navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="Home"><a href="/">Home</a>/li>
          <li id="About"><a href="/about">ABOUT US</a>/li>
          <li id="Contact"><a href="/contact">Contact Us</a>/li>
        </ul>
    </div>
  </nav>
</head>


<body>
  
</body>
</html>